*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Menu Dropdown*/
.menu{
    list-style: none;
    /*border: 1px solid #c0c0c0;*/
    float: left;
    width: 100%;
    background-color: #69BECA;
}
a{
    background-color: #69BECA;
}

.menu li{
    position: relative;
    float: left;
    
}

.menu li a{
    color: #4f3d69;
    text-decoration: none;
    padding: 15px 30px;
    display: block;
}
/*#74C9DA;*/
.menu li a:hover{
    background: #957DB3;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10 px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}
a:hover{
    background: #957DB3;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10 px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}
a:hover ul,
a.over ul{
    display: block;
}

.menu li ul{
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #69BECA;
    display: none;
}

.menu li:hover ul,
.menu li.over ul{
    display: block;
}

.menu li ul li{
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

.corpo{
    background-color: #eff3f3;
}
.titulo{
    text-align: center; color: #4f3d69; position: absolute; top: 100px; left: 500px; /* font-size: 50px */;
}
.posicao{
    position: absolute; top: 250px; left: 150px;
}

